<% if user_signed_in? %>
  <!-- ログインユーザーがすでにいいね！している場合 -->
  <% if image.like_user(current_user.id) %>
      <%= button_to "/images/#{image.id}/likes/#{image.likes.find_by(user_id: current_user.id).id}", method: :delete, id: "like-button", remote: true do %>
        <div><i class="glyphicon glyphicon-thumbs-up"></i></div>
        <span>
          <%= image.likes_count %>
        </span>
      <% end %>
  <!-- ログインユーザーが未だいいね！をしていない場合 -->
  <% else %>
    <%= button_to "/images/#{image.id}/likes", id: "like-button", remote: true do %>
      <div><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <span>
        <%= image.likes_count %>
      </span>
    <% end %>

  <!-- image.like_user(current_user.id)の閉じタグ -->
  <% end %>

<!-- user_signed_inのelseタグ -->
<% else %>

  <div><i class="glyphicon glyphicon-thumbs-up"></i></div>
  <span>
    <%= image.like_count %>
  </span>

<!-- user_signed_in?の閉じタグ -->
<% end %>