            <div>
              <header>
                <h2>
                  <%= @subject.name %>
                </h2>
                  <% if @subject.reviews.present? %>
                    <span class="rate rate<%= (@subject.reviews.average(:rate).round(1) * 10).floor %>"></span>
                  <% end %>
              </header>
              <div style="text-align: right">
                <a href="/subjects/<%= @subject.id %>/reviews/new">この被写体の評価をする</a>
              </div>


            <P>
              MAP
            </P>

            <div style='width: 800px;'>
              <div id="map" style='width: 800px; height: 400px;'></div>
            </div>

            <script type="text/javascript">
                handler = Gmaps.build('Google');
                handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                  markers = handler.addMarkers(<%=raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  handler.getMap().setCenter(new google.maps.LatLng(<%= @map.latitude %>, <%= @map.longitude %>));
                  handler.getMap().setZoom(15);
                });
            </script>


              <header>
                <h2>
                  みんなのレビュー
                </h2>
              </header>
              <% if @subject.reviews.present? %>
                <ul style="padding: 0">

                 <%= render partial: "review", collection: @subject.reviews %>

                </ul>

              <!-- レビューがまだ存在しない場合 -->
              <% else %>
                <p>
                  まだレビューはありません
                </p>
              <% end %>
            </div>