<<%= form_for [@subject, @review] do |f| %>
    <h3>
      編集する
    </h3>
    <%= f.label :星いくつ？（5点満点） %>
  <%= f.number_field :rate, placeholder: '評価', value: 1, max: 5, min: 1, value: @review.rate %>
  <%= f.label :理由などをコメントしてください %>
  <%= f.text_field :comment, placeholder: 'コメントを入力', value: @review.comment %>
    </br>
    </br>
    <%= f.fields_for :images, @images do |image| %>
      <%= image.label :画像ファイル %>
      <%= image.file_field :image_file %>
      <%= image.label :f値 %>
      <%= image.text_field :f_value, placeholder: "f値を入力（任意）" %>
      <%= image.label :露出 %>
      <%= image.select :exposure, @exposures.map{|exp| exp.num}, placeholder: "露出を選択（任意）" %>
      <%= image.label :ホワイトバランス %>
      <%= image.text_field :wb %>
      <%= image.label :写真にタイトルをつけてください（任意） %>
      <%= image.text_field :title, placeholder: "タイトルを入力" %>
      <%= image.label :写真について、コメントをお書きください（任意） %>
      <%= image.text_field :comment, placeholder: "コメントを入力" %>
    </br>
    </br>
  <% end %>
    </br>
    </br>
    <%= f.submit "修正" %>
<% end %>